.submit {
	display: block;
	float: right;
	margin-right: 5vw;
	padding: 1vw 1.2vw 1vw 1.2vw;
	font-size: 2vh;
	background-color: rgb(104, 187, 48);
	color: white;
	font-weight: 600;
	border: solid whitesmoke 1px;
	border-radius: 5px;
	opacity: 0.9;
}

.submit:hover {
	cursor: pointer;
	opacity: 1;
}

.form {
	display: block;
	margin: 5vw;
	margin-bottom: 15vw;
}
